/*v1.3 2025-08-06T09:53:27.047Z*/

/* About: Letter from Alonso */
.letter-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.letter-content em {
    font-style: italic;
}

.section-columns {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.section-col {
    flex: 1 1 300px;
    min-width: 280px;
    background: var(--background-dark-2);
    padding: 0 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

#letter-from-alonso:hover .overlay-symbol.var-4,
#cultural-approach-and-ethics:hover .overlay-symbol.var-5,
#ai-policy:hover .overlay-symbol.var-6,
#tools-and-inspiration:hover .overlay-symbol.var-7,
#license:hover .overlay-symbol.var-6 {
    opacity: 0.1;
}

.carousel-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
    margin: 0.5rem 0 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
    pointer-events: none;
}

.feature-card {
    height: 300px;
    width: 250px;
    background-position: top;
}

.card-content h4 {
    margin-top: 0;
    font-family: var(--font-antique);
    color: var(--bright-gold);
    text-transform: uppercase;
    font-size: .8rem;
}

.card-content h3 {
    font-family: var(--font-antique);
    color: var(--bright-gold);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.feature-card h3,
.feature-card h4,
.feature-card .card-description.short,
.feature-card .carousel-icon {
    opacity: 0;
    transition: all .3s ease;
}

.feature-card:hover h3,
.feature-card:hover h4,
.feature-card:hover .card-description.short,
.feature-card:hover .carousel-icon {
    opacity: 1;
    transition: all .3s ease;
}

.feature-card-wrapper {
    filter: drop-shadow(2px 4px 6px black);
}

.carousel-wrapper {
    max-width: 750px;
    padding: 3px;
    border-width: 0 3px 0 3px;
    border-color: var(--ancient-gold);
    border-style: solid;
    border-radius: 15px;
}

.carousel-track {
    padding: 5px 0;
}

.card-description.short {
    margin-top: 0;
}

.card-content {
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 0 10px;
    background-image: none;
}

.feature-wrapper-left,
.feature-wrapper-right {
    display: block;
    padding: 1rem;
    background: var(--background-dark-3);
    margin: 1rem 0;
    border-radius: 1rem;
}

.feature-desc {
    display: block;
    margin-bottom: 0;
}

.feature-image {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    padding: 10px;
    background: var(--background-dark-1);
}

.feature-symbol {
    display: block;
    border-radius: .7rem;
    padding: 3px;
}

.feature-wrapper-left .feature-symbol {
    float: left;
    margin-right: 15px;
    background: linear-gradient(to right,
            rgba(var(--deep-charcoal-rgb), 0.2),
            rgba(var(--brown-charcoal-rgb), 0.2)),
        url(/assets/textures/antique-gold-1.jpg);
}

.feature-wrapper-right .feature-symbol {
    float: right;
    margin-left: 15px;
    background: linear-gradient(to left,
            rgba(var(--deep-charcoal-rgb), 0.2),
            rgba(var(--brown-charcoal-rgb), 0.2)),
        url(/assets/textures/antique-gold-1.jpg);
}

.feature-wrapper-right h4 {
    justify-content: flex-end;
}

.feature-desc h4 {
    border-bottom: 3px solid var(--ancient-gold);
    display: flex;
    margin-top: 0;
}

.map {
    width: 100vw;
    max-width: 800px;
    padding: 1rem 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .carousel-wrapper {
        max-width: 95vw;
    }

    .feature-image {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        padding: 10px;
        background: var(--background-dark-1);
    }
}